/.idea/.gitignore
/chapter-5/build/resources/main/application.yml
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/common/BaseEntity.class
/chapter-5/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/chapter-5/.gradle/buildOutputCleanup/cache.properties
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/Chapter5Application.class
/chapter-5/build/tmp/compileJava/compileTransaction/stash-dir/Chapter5Application.class.uniqueId1
/chapter-5/.gradle/8.10.2/checksums/checksums.lock
/chapter-5/.gradle/8.10.2/executionHistory/executionHistory.bin
/chapter-5/.gradle/8.10.2/executionHistory/executionHistory.lock
/chapter-5/.gradle/file-system.probe
/chapter-5/.gradle/8.10.2/fileHashes/fileHashes.bin
/chapter-5/.gradle/8.10.2/fileHashes/fileHashes.lock
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/FoodCategory.class
/chapter-5/.gradle/8.10.2/dependencies-accessors/gc.properties
/chapter-5/.gradle/8.10.2/gc.properties
/chapter-5/.gradle/vcs-1/gc.properties
/chapter-5/HELP.md
/chapter-5/.gradle/8.10.2/fileChanges/last-build.bin
/chapter-5/.gradle/8.10.2/checksums/md5-checksums.bin
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/entity/Member.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_agree/entity/MemberAgree.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/entity/MemberMission.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_prefer/MemberPrefer.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/entity/Mission.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/service/MissionQueryService.class
/chapter-5/build/tmp/compileJava/compileTransaction/stash-dir/MissionQueryService.class.uniqueId0
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/service/MissionQueryServiceImpl.class
/chapter-5/build/tmp/compileJava/compileTransaction/stash-dir/MissionQueryServiceImpl.class.uniqueId2
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/repository/MissionRepository.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/repository/MissionRepositoryCustom.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/repository/MissionRepositoryImpl.class
/chapter-5/.gradle/buildOutputCleanup/outputFiles.bin
/chapter-5/build/tmp/compileJava/previous-compilation-data.bin
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/common/QBaseEntity.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/QFoodCategory.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/entity/QMember.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_agree/entity/QMemberAgree.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/entity/QMemberMission.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_prefer/QMemberPrefer.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/entity/QMission.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/region/entity/QRegion.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/review/entity/QReview.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/review_image/entity/QReviewImage.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/entity/QStore.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/terms/entity/QTerms.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/config/QueryDSLConfig.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/region/entity/Region.class
/chapter-5/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/review/entity/Review.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/review_image/entity/ReviewImage.class
/chapter-5/.gradle/8.10.2/checksums/sha1-checksums.bin
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/entity/Store.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/service/StoreQueryService.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/service/StoreQueryServiceImpl.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/repository/StoreRepository.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/repository/StoreRepositoryCustom.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/repository/StoreRepositoryImpl.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/terms/entity/Terms.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/api/ApiResponse.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/api/code/BaseCode.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/api/code/BaseErrorCode.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/api/code/ErrorReasonDto$ErrorReasonDtoBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/api/code/ErrorReasonDto.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/api/code/status/ErrorStatus.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/FoodCategory$FoodCategoryBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/entity/Member$MemberBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_agree/entity/MemberAgree$MemberAgreeBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/controller/MemberController.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/convertor/MemberConverter.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/entity/MemberMission$MemberMissionBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_prefer/MemberPrefer$MemberPreferBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/repository/MemberRepositoryJPA.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/dto/request/MemberRequestDto.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/dto/response/MemberResponse$MemberCreateDto$MemberCreateDtoBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/dto/response/MemberResponse$MemberCreateDto.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/dto/response/MemberResponse.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/service/MemberService.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/service/MemberServiceImpl.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/entity/Mission$MissionBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/api/code/ReasonDto$ReasonDtoBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/api/code/ReasonDto.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/region/entity/Region$RegionBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/review/entity/Review$ReviewBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/review_image/entity/ReviewImage$ReviewImageBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/entity/Store$StoreBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/api/code/status/SuccessStatus.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/terms/entity/Terms$TermsBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/api/code/status/BaseCode.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/api/code/status/BaseErrorCode.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/exception/ExceptionAdvice.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/entity/FoodCategory$FoodCategoryBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/entity/FoodCategory.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/exception/GeneralException.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/converter/MemberConverter.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/controller/MemberMissionController.class
/chapter-5/build/tmp/compileJava/compileTransaction/stash-dir/MemberMissionController.class.uniqueId0
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/converter/MemberMissionConverter.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/repository/MemberMissionRepository.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/dto/MemberMissionResponse$MemberMissionDto$MemberMissionDtoBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/dto/MemberMissionResponse$MemberMissionDto.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/dto/MemberMissionResponse.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/service/MemberMissionService.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/service/MemberMissionServiceImpl.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/dto/response/MemberResponse$MemberDto$MemberDtoBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/dto/response/MemberResponse$MemberDto.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/dto/MissionResponse$MissionDto$MissionDtoBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/dto/MissionResponse$MissionDto.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/dto/MissionResponse.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/controller/TempController.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/converter/TempConverter.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/exception/handler/TempHandler.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/service/TempQueryService.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/service/TempQueryServiceImpl.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/dto/TempResponse$TempExceptionDTO$TempExceptionDTOBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/dto/TempResponse$TempExceptionDTO.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/dto/TempResponse$TempTestDTO$TempTestDTOBuilder.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/dto/TempResponse$TempTestDTO.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/dto/TempResponse.class
