/.idea/.gitignore
/chapter-5/build/resources/main/application.yml
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/common/BaseEntity.class
/chapter-5/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/chapter-5/.gradle/buildOutputCleanup/cache.properties
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/Chapter5Application.class
/chapter-5/build/tmp/compileJava/compileTransaction/stash-dir/Chapter5Application.class.uniqueId1
/chapter-5/.gradle/8.10.2/checksums/checksums.lock
/chapter-5/.gradle/8.10.2/executionHistory/executionHistory.bin
/chapter-5/.gradle/8.10.2/executionHistory/executionHistory.lock
/chapter-5/.gradle/file-system.probe
/chapter-5/.gradle/8.10.2/fileHashes/fileHashes.bin
/chapter-5/.gradle/8.10.2/fileHashes/fileHashes.lock
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/FoodCategory.class
/chapter-5/.gradle/8.10.2/dependencies-accessors/gc.properties
/chapter-5/.gradle/8.10.2/gc.properties
/chapter-5/.gradle/vcs-1/gc.properties
/chapter-5/HELP.md
/chapter-5/.gradle/8.10.2/fileChanges/last-build.bin
/chapter-5/.gradle/8.10.2/checksums/md5-checksums.bin
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/entity/Member.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_agree/entity/MemberAgree.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/entity/MemberMission.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_prefer/MemberPrefer.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/entity/Mission.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/service/MissionQueryService.class
/chapter-5/build/tmp/compileJava/compileTransaction/stash-dir/MissionQueryService.class.uniqueId0
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/service/MissionQueryServiceImpl.class
/chapter-5/build/tmp/compileJava/compileTransaction/stash-dir/MissionQueryServiceImpl.class.uniqueId2
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/repository/MissionRepository.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/repository/MissionRepositoryCustom.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/repository/MissionRepositoryImpl.class
/chapter-5/.gradle/buildOutputCleanup/outputFiles.bin
/chapter-5/build/tmp/compileJava/previous-compilation-data.bin
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/common/QBaseEntity.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/QFoodCategory.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member/entity/QMember.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_agree/entity/QMemberAgree.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/entity/QMemberMission.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/member_prefer/QMemberPrefer.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/entity/QMission.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/region/entity/QRegion.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/review/entity/QReview.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/review_image/entity/QReviewImage.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/entity/QStore.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/terms/entity/QTerms.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/config/QueryDSLConfig.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/region/entity/Region.class
/chapter-5/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/review/entity/Review.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/review_image/entity/ReviewImage.class
/chapter-5/.gradle/8.10.2/checksums/sha1-checksums.bin
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/entity/Store.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/service/StoreQueryService.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/service/StoreQueryServiceImpl.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/repository/StoreRepository.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/repository/StoreRepositoryCustom.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/store/repository/StoreRepositoryImpl.class
/chapter-5/build/classes/java/main/com/umcpractice/chapter_5/domain/terms/entity/Terms.class
