.gitattributes
.gitignore
/build/classes/java/main/com/umcpractice/chapter_5/api/ApiResponse.class
/build/resources/main/application.yml
/build/classes/java/main/com/umcpractice/chapter_5/api/code/status/BaseCode.class
/build/classes/java/main/com/umcpractice/chapter_5/common/BaseEntity.class
/build/classes/java/main/com/umcpractice/chapter_5/api/code/status/BaseErrorCode.class
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/build/classes/java/main/com/umcpractice/chapter_5/validation/validator/CategoriesExistValidator.class
/build/classes/java/main/com/umcpractice/chapter_5/Chapter5Application.class
/.gradle/8.10.2/checksums/checksums.lock
/build/classes/java/main/com/umcpractice/chapter_5/api/code/ErrorReasonDto$ErrorReasonDtoBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/api/code/ErrorReasonDto.class
/build/classes/java/main/com/umcpractice/chapter_5/api/code/status/ErrorStatus.class
/build/classes/java/main/com/umcpractice/chapter_5/exception/ExceptionAdvice.class
/.gradle/8.10.2/executionHistory/executionHistory.bin
/.gradle/8.10.2/executionHistory/executionHistory.lock
/build/classes/java/main/com/umcpractice/chapter_5/validation/annotation/ExistCategories.class
/.gradle/file-system.probe
/.gradle/8.10.2/fileHashes/fileHashes.bin
/.gradle/8.10.2/fileHashes/fileHashes.lock
/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/entity/FoodCategory$FoodCategoryBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/entity/FoodCategory.class
/build/classes/java/main/com/umcpractice/chapter_5/exception/handler/FoodCategoryHandler.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/repository/FoodCategoryRepository.class
/.gradle/8.10.2/dependencies-accessors/gc.properties
/.gradle/8.10.2/gc.properties
/.gradle/vcs-1/gc.properties
/build/classes/java/main/com/umcpractice/chapter_5/exception/GeneralException.class
/.gradle/8.10.2/fileChanges/last-build.bin
/build/classes/java/main/com/umcpractice/chapter_5/domain/member/entity/Member$MemberBuilder.class
/build/tmp/compileJava/compileTransaction/stash-dir/Member$MemberBuilder.class.uniqueId17
/build/classes/java/main/com/umcpractice/chapter_5/domain/member/entity/Member.class
/build/tmp/compileJava/compileTransaction/stash-dir/Member.class.uniqueId28
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_agree/entity/MemberAgree$MemberAgreeBuilder.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberAgree$MemberAgreeBuilder.class.uniqueId25
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_agree/entity/MemberAgree.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberAgree.class.uniqueId7
/build/classes/java/main/com/umcpractice/chapter_5/domain/member/controller/MemberController.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberController.class.uniqueId20
/build/classes/java/main/com/umcpractice/chapter_5/domain/member/converter/MemberConverter.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberConverter.class.uniqueId13
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/entity/MemberMission$MemberMissionBuilder.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberMission$MemberMissionBuilder.class.uniqueId12
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/entity/MemberMission.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberMission.class.uniqueId1
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/controller/MemberMissionController.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberMissionController.class.uniqueId6
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/converter/MemberMissionConverter.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberMissionConverter.class.uniqueId23
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/repository/MemberMissionRepository.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberMissionRepository.class.uniqueId29
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/dto/MemberMissionResponse$MemberMissionDto$MemberMissionDtoBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/dto/MemberMissionResponse$MemberMissionDto.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/dto/MemberMissionResponse.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/service/MemberMissionService.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberMissionService.class.uniqueId34
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_mission/service/MemberMissionServiceImpl.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberMissionServiceImpl.class.uniqueId30
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_prefer/MemberPrefer$MemberPreferBuilder.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberPrefer$MemberPreferBuilder.class.uniqueId2
/build/classes/java/main/com/umcpractice/chapter_5/domain/member_prefer/MemberPrefer.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberPrefer.class.uniqueId10
/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/conveter/MemberPreferConverter.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberPreferConverter.class.uniqueId22
/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/dto/MemberPreferResponseDto$JoinResultDTO$JoinResultDTOBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/dto/MemberPreferResponseDto$JoinResultDTO.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/food_category/dto/MemberPreferResponseDto.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/member/repository/MemberRepository.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberRepository.class.uniqueId19
/build/classes/java/main/com/umcpractice/chapter_5/domain/member/dto/request/MemberRequestDto$JoinDto.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberRequestDto$JoinDto.class.uniqueId24
/build/classes/java/main/com/umcpractice/chapter_5/domain/member/dto/request/MemberRequestDto.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberRequestDto.class.uniqueId14
/build/classes/java/main/com/umcpractice/chapter_5/domain/member/dto/response/MemberResponseDto$JoinResultDTO$JoinResultDTOBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/member/dto/response/MemberResponseDto$JoinResultDTO.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/member/dto/response/MemberResponseDto.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/member/service/MemberService.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberService.class.uniqueId9
/build/classes/java/main/com/umcpractice/chapter_5/domain/member/service/MemberServiceImpl.class
/build/tmp/compileJava/compileTransaction/stash-dir/MemberServiceImpl.class.uniqueId27
/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/entity/Mission$MissionBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/entity/Mission.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/controller/MissionController.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/converter/MissionConverter.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/repository/MissionRepository.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/dto/MissionRequest.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/dto/MissionResponse$MissionDto$MissionDtoBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/dto/MissionResponse$MissionDto.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/dto/MissionResponse.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/service/MissionService.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/mission/service/MissionServiceImpl.class
/build/classes/java/main/com/umcpractice/chapter_5/validation/annotation/MissionStatus.class
/build/tmp/compileJava/compileTransaction/stash-dir/MissionStatus.class.uniqueId33
/build/classes/java/main/com/umcpractice/chapter_5/validation/validator/MissionStatusValidator.class
/build/tmp/compileJava/compileTransaction/stash-dir/MissionStatusValidator.class.uniqueId35
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileJava/previous-compilation-data.bin
/build/classes/java/main/com/umcpractice/chapter_5/api/code/ReasonDto$ReasonDtoBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/api/code/ReasonDto.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/region/entity/Region$RegionBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/region/entity/Region.class
/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/entity/Review$ReviewBuilder.class
/build/tmp/compileJava/compileTransaction/stash-dir/Review$ReviewBuilder.class.uniqueId32
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/entity/Review.class
/build/tmp/compileJava/compileTransaction/stash-dir/Review.class.uniqueId0
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/controller/ReviewController.class
/build/tmp/compileJava/compileTransaction/stash-dir/ReviewController.class.uniqueId5
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/converter/ReviewConverter.class
/build/tmp/compileJava/compileTransaction/stash-dir/ReviewConverter.class.uniqueId3
/build/classes/java/main/com/umcpractice/chapter_5/domain/review_image/entity/ReviewImage$ReviewImageBuilder.class
/build/tmp/compileJava/compileTransaction/stash-dir/ReviewImage$ReviewImageBuilder.class.uniqueId31
/build/classes/java/main/com/umcpractice/chapter_5/domain/review_image/entity/ReviewImage.class
/build/tmp/compileJava/compileTransaction/stash-dir/ReviewImage.class.uniqueId15
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/repository/ReviewRepository.class
/build/tmp/compileJava/compileTransaction/stash-dir/ReviewRepository.class.uniqueId4
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/dto/ReviewRequest.class
/build/tmp/compileJava/compileTransaction/stash-dir/ReviewRequest.class.uniqueId16
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/dto/ReviewResponse$ReviewDto$ReviewDtoBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/dto/ReviewResponse$ReviewDto.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/dto/ReviewResponse$ReviewPreViewDTO$ReviewPreViewDTOBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/dto/ReviewResponse$ReviewPreViewDTO.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/dto/ReviewResponse$ReviewPreViewListDTO$ReviewPreViewListDTOBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/dto/ReviewResponse$ReviewPreViewListDTO.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/dto/ReviewResponse.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/service/ReviewService.class
/build/tmp/compileJava/compileTransaction/stash-dir/ReviewService.class.uniqueId21
/build/classes/java/main/com/umcpractice/chapter_5/domain/review/service/ReviewServiceImpl.class
/build/tmp/compileJava/compileTransaction/stash-dir/ReviewServiceImpl.class.uniqueId8
/build/classes/java/main/com/umcpractice/chapter_5/domain/store/entity/Store$StoreBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/store/entity/Store.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/store/controller/StoreApiPresentation.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/store/controller/StoreController.class
/build/tmp/compileJava/compileTransaction/stash-dir/StoreController.class.uniqueId36
/build/classes/java/main/com/umcpractice/chapter_5/domain/store/converter/StoreConverter.class
/build/tmp/compileJava/compileTransaction/stash-dir/StoreConverter.class.uniqueId26
/build/classes/java/main/com/umcpractice/chapter_5/validation/annotation/StoreExists.class
/build/classes/java/main/com/umcpractice/chapter_5/validation/validator/StoreExistsValidator.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/store/repository/StoreRepository.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/store/service/StoreService.class
/build/tmp/compileJava/compileTransaction/stash-dir/StoreService.class.uniqueId11
/build/classes/java/main/com/umcpractice/chapter_5/domain/store/service/StoreServiceImpl.class
/build/tmp/compileJava/compileTransaction/stash-dir/StoreServiceImpl.class.uniqueId18
/build/classes/java/main/com/umcpractice/chapter_5/api/code/status/SuccessStatus.class
/build/classes/java/main/com/umcpractice/chapter_5/config/swagger/SwaggerConfig.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/controller/TempController.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/converter/TempConverter.class
/build/classes/java/main/com/umcpractice/chapter_5/exception/handler/TempHandler.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/service/TempQueryService.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/service/TempQueryServiceImpl.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/dto/TempResponse$TempExceptionDTO$TempExceptionDTOBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/dto/TempResponse$TempExceptionDTO.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/dto/TempResponse$TempTestDTO$TempTestDTOBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/dto/TempResponse$TempTestDTO.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/temp/dto/TempResponse.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/terms/entity/Terms$TermsBuilder.class
/build/classes/java/main/com/umcpractice/chapter_5/domain/terms/entity/Terms.class
